<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://projet-km-d8623-default-rtdb.europe-west1.firebasedatabase.app/</string>
	<key>API_KEY</key>
	<string>AIzaSyBsrTjQA3LKMYa4RiWHBxuio4GcaEoo7oI</string>
	<key>GCM_SENDER_ID</key>
	<string>224151173694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>td.refonte.testFirebaseIOS</string>
	<key>PROJECT_ID</key>
	<string>projet-km-d8623</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-km-d8623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224151173694:ios:2be9c094990092f5d7af6f</string>
</dict>
</plist>
